# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/workshops/ruanoa/unit1/New Folder/HelloOOP/nbproject/private/
/workshops/ruanoa/unit1/New Folder/HelloOOP/build/
/workshops/ruanoa/unit1/New Folder (2)/FarmSimulator/nbproject/private/
